body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: grey;
}

#root {
  background-color: black;
}

.point {
  fill: steelblue;
  stroke: white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

/* Axis */
.axis path{
  stroke: white;
  stroke-width: 1px;
}

/* Ticks */
.axis line {
  stroke: white;
  stroke-width: 2px;
}

/* Labels */
.axis text {
  fill: white;
  font-size: 10px;
}