// Use #AAAAAA for container borders, #CCCCCC for chart elements, text, legends

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #181818;
  overflow: hidden;
}

#root {
  width: calc(100vw - 6px); // Body margin is 3px
  height: calc(100vh - 6px);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
}

// CONTAINERS ---------------------------

.container {
  border-style: solid;
  border-width: 2px;
  border-color: #AAAAAA;
}

#scatterPlot-container {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

#lineChart-container {
  grid-row: 1 / 3;
  grid-column: 7 / -1;
}

#parallelCoordinates-container {
  grid-row: 3 / -1;
  grid-column:  1 / -1;
}

// GRAPHICAL ELEMENTS -------------------

// All axes
.axis path {
  stroke-width: 1px;
  stroke: #CCCCCC;
}

// Axes ticks
.axis line {
  stroke-width: 2px;
  stroke: #CCCCCC;
}

// Axes labels
.axis text {
  font-size: 12px;
  fill: #CCCCCC;
}

// Axis grid (long lines)
.grid {
  stroke-width: 1;
  stroke: #CCCCCC;
  stroke-opacity: 0.3;
}

// Scatter plot points
.circle {
  stroke-width: 2px;
  stroke: black;
  opacity: 0.85;
}

// Plot lines
.line {
  fill: none;
  stroke-width: 3.5px;
  stroke: steelblue;
  opacity: 0.75;
}

.line-hovered {
  fill: none;
  stroke-width: 3.5px;
  stroke: #CCCCCC;
  opacity: 1;
  pointer-events: none;
}

.line-brushed {
  fill: none;
  stroke-width: 3.5px;
  stroke: red;
  opacity: 0.7;
}

// OTHER --------------------------------

svg .legend {
  font-size: 14px;
  fill: #CCCCCC;
}

#tooltip {
  position: absolute;
  visibility: hidden;
  background: #CCCCCC;
  border-style: solid;
  border-width: 1.5px;
  border-color: orange;
  padding: 2px;
  font-size: 13px;
}

.dropDown {
  position: absolute;
  font-size: 12px;
}

.text-row {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 3px;
  font-size: 12px;
}

.label {
  font-size: 22px;
  color: white;
}
